.sidebar {
  width: fit-content;
  background-color: #f2f2f2;

  &_menu {
    display: flex;
    padding: 10px;
    li {
      list-style: none;
    }
  }

  &_menu {
    li {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      color: #333;

      text-decoration: none;
    }
  }
  &_menu {
    li:hover {
      background-color: #ddd;
      border-radius: 12px;
      cursor: pointer;
    }
  }
  &_active {
    border: 1px solid #3498db;
    border-radius: 12px;
  }
}
